

.home-page {
    font-family:'Abhaya Libre', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items:center;
    background-color: #F7F7F7;
    border-bottom: 2px solid #E4E9EE;
    /* padding-bottom: 0;
    margin-bottom: 0; */

}
.header-detail {
    max-width: 30vw;
    margin-bottom: 50px;
    margin-right: 20px;
}
.header-image {
    padding: 0px 0px;
    margin: 0px 0px;
}
.image-main {
    /* width: 50vw; */
    width: 50vw;
    height: 500px;
    object-fit: cover;
    /* margin-bottom: 0;
    padding: 0; */
}

.slogan {
    
}
.subheading {
    font-size: medium;
    color: grey;
}
.button {
    border-radius: 5px;
    height: 50px;
    width: 140px;
    margin-top: .5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}
/* .button:hover {
    filter: invert(1);
} */
.buy-now {
    margin-right: 1vw;
    background-color: #1E334C;
    color: white;
}
.buy-now:hover {
    background-color: #4776b0;
}
.view-detail {
    background-color: transparent;
}
.view-detail:hover {
    background-color: #4776b0;
    color: white;
}
.featured-header {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E4E9EE;
}
.featured-navbar {
    display: flex;
    flex-direction: row;
    /* margin-left: 100px;
    margin-right: 100px; */
    justify-content: space-between;

    
}
.card {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 16%;
    height: 28vh;

    border: 2px solid #E4E9EE;
    border-radius: 10px;

    cursor: pointer;
}
.card:hover {
    transform: scale(1.05);
}
.large-icon {
    font-size: 50px;
}
.product-count {
    font-size: small;
    color: grey;
}
.featured-category {
    font-size: large;
}
.categories-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}
.item-card {
    
    /* border-radius: 10px; */
    /* border: 4px solid black; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    /* width: 260px; */
    
    
    cursor: pointer;
    border: 1px solid #E4E9EE;
    
}
.item-card:hover {
    transform: scale(1.05);
}
.item-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    /* width: 200px; */
    width: 270px;
}
.item-image {
    /* width: 200px; */
    width: 100%;
    height: 100%;
    object-fit:cover;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    
    /* position: relative; */

    /* border: 3px solid black;     */
}
.image-box {
    width: 270px;
    height: 270px;
    /* border: 1px solid black; */
    overflow: hidden;
    position: relative;
}
.item-price {
    color: #1D9E34;
}
.items {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    /* border: 2px solid black; */
    margin-bottom: 30px;
}
.like-button {
    position: absolute;
    top: 10px;
    right: 10px;
    /* z-index: 1; */
    /* background: transparent; */
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    width: 16px;
    height: 16px;
}
.like-button .fas, .like-button .far {
    transition: color 0.2s;
  }
  
  .like-button .fas {
    color: black;
  }


@media (max-width: 600px) {
    .header {
        color: white;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        
        /* z-index: 1; */

        position: relative;
        /* height: 60vh; */
        /* width: 100%; */
        height: 40vh;
        min-height: 300px;

        margin-bottom: 16px;

       
    }
    .header::before {
        content: "";
        position: absolute;

        width: 100%;
        height: 100%;
        background-image: url('../Images/CartImage.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: blur(6px); 
    
        /* z-index: -1; */
    }

    .header-detail {
        position: relative;

        
    }
    .image-main {
        display: none;
        filter: blur(4px);

        position: absolute;
        /* top: 40px; */
    }
    .header-detail {
        max-width: unset;
        width: 80vw;

        

        margin: unset;
        /* margin-bottom: unset;
        margin-right: unset; */
    }
    .subheading {
        color: white;
    }
    .view-detail {
        background-color: #F7F7F7;
    }
}